extends layout

block body
  .navbar.navbar-default.navbar-fixed-top
  .container.nav-header-style
    .navbar.navbar-default
      .title
        | Welcome to Hashtag battle!
      p.lead.
        <br/>
        The battle of the hashtags tracks tweets posted on twitter with a given hashtag and displays their count. Get started by entering the hashtags below !
        <br/>
        <br/>
      #battleContent(style='background-color: rgb(231, 231, 231); border-radius: 8px')
        include battleContent    
    